@charset "UTF-8";

/* Colors -- a.la. Dracula */
//$background: #282a36;
$background: #1d1e26;
$curr-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$drac-black: #15171b;

/* dark theme colors */
$dark-background-header: $drac-black;
$dark-background: $background;
$dark-background-secondary: $curr-line;
$dark-color: #f8f8f2;
$dark-color-secondary: #585B6E;
$dark-border-color: $curr-line;
$dark-table-color: $curr-line;
/* light theme color */
/* Dracula hates the light */
$light-background-header: $drac-black;
$light-background: $dark-background;
$light-background-secondary: $dark-background-secondary;
$light-color: #f8f8f2;
$light-color-secondary: $dark-color-secondary;
$light-border-color: $dark-border-color;
$light-table-color: $curr-line;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

